:root {
  --todo-project-header-height: 4rem;
  --todo-project-list-height: 100vh;

  /* We give the TODO project list all remaining space after subtracting its header height */
  --todo-project-list-height-desktop: calc(
    var(--todo-project-list-height) - var(--todo-project-header-height)
  );

  /* We give the TODO task list all remaining space after subtracting its header height */
  --todo-task-list-height-desktop: calc(
    var(--todo-task-height) - var(--todo-task-header-height)
  );

  --todo-task-container-height-desktop: 100vh;
  --todo-task-header-height: 4rem;
  --todo-task-height: 100vh;

  --todo-task-display-height-mobile: calc(
    var(--todo-task-height) - var(--todo-project-header-height) -
      var(--todo-task-header-height)
  );

  --todo-task-container-height-mobile: calc(
    var(--todo-task-container-height-desktop) -
      var(--todo-project-header-height)
  );

  --todo-project-buttons-size: 6px;
}

body {
  background-color: #ddd;
}

.todo-project-dialog {
  width: 300px;
}

.todo-project-dialog > form,
.todo-project-name-input-container,
.todo-project-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-project-dialog form {
  gap: 2.5rem;
  width: 225px;
  height: 250px;
  margin: auto;
}

.todo-project-name-input-container {
  & label {
    font-size: 1.4rem;
  }

  & input {
    padding: 5px;
  }

  & :not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.todo-project-button-container {
  gap: 0.5rem;

  & button {
    padding: var(--todo-project-buttons-size);
  }
}

.todo-projects-list__desktop::-webkit-scrollbar,
.todo-task-list::-webkit-scrollbar {
  display: none;
}

.todo-content {
  display: grid;
  grid-template-rows: 0fr;
  min-height: 100vh;
}

.todo-projects-header {
  display: flex;
  /* justify-content: center; */
  gap: 0.8rem;
  align-items: center;
  height: var(--todo-project-header-height);
  border: 2px solid black;

  & img {
    cursor: pointer;
  }
}

.todo-projects-list__desktop {
  height: 100%;
  max-height: var(--todo-project-list-height-desktop);
  overflow-y: auto;
  border: black solid;
  border-width: 0 2px 2px 2px;

  & li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  & p {
    font-size: 1.8rem;
    font-weight: bold;
  }

  & img,
  p {
    cursor: pointer;
  }
}

.todo-task-container {
  max-height: var(--todo-task-container-height-mobile);
  border: darkgreen solid;
  border-width: 0 2px 2px 2px;
}

.todo-task-header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr repeat(1, auto) 1fr;
  gap: 5px;
  justify-items: center;
  height: var(--todo-task-header-height);
  border: 2px solid darkgreen;
}

.todo-task-header h2 {
  grid-column-start: 2;
}
.todo-task-header img {
  margin-left: auto;
  margin-right: 5px;
}

.todo-task-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  justify-items: center;
  max-height: var(--todo-task-display-height-mobile);
  overflow-y: auto;
  gap: 1rem;
  padding: 1rem;
}

.todo-task {
  border: 2px solid black;
  width: 250px;
  height: 250px;
}

/* Media queries for responsive design */

/* Responsive design for mobile */
@media (max-width: 1023px) {
  .todo-projects-container-sidebar {
    background-color: skyblue;
    max-height: 75vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease;
    overflow-y: auto;

    & .todo-projects-header {
      padding: 1rem;
    }
  }

  .todo-projects-container-sidebar.active {
    right: 0;
  }

  .todo-projects-sidebar-two {
    display: flex;
    align-items: center;
    max-height: var(--todo-project-header-height);
    background-color: #aaa;
    padding: 1rem;
  }

  .ham-menu {
    height: 40px;
    width: 30px;
    margin-left: auto;
    position: relative;

    & span {
      height: 5px;
      width: 100%;
      background-color: blue;
      border-radius: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s ease;
    }

    & span:nth-child(1) {
      top: 25%;
    }

    & span:nth-child(3) {
      top: 75%;
    }
  }

  .ham-menu.active {
    & span:nth-child(1) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    & span:nth-child(2) {
      opacity: 0;
    }

    & span:nth-child(3) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

/* Responsive design for desktop */
@media (min-width: 1024px) {
  .todo-content {
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 1fr;
  }

  .todo-projects-header {
    padding-left: 1rem;

    & img {
      margin-left: auto;
      margin-right: 0.5rem;
    }
  }

  .todo-projects-container-sidebar {
    max-height: 100vh;
  }

  .todo-task-container {
    max-height: 100vh;
  }

  .todo-task-list {
    max-height: var(--todo-task-list-height-desktop);
  }

  .todo-projects-sidebar-two {
    display: none;
  }
}

@media (min-width: 1360px) {
  .todo-content {
    grid-template-columns: 0.3fr 1fr;
  }
}
