:root {
  --todo-project-buttons-padding: 6px;
  --todo-project-input-padding: 6px;
}

body {
  background-color: #b8b8b8;
}

.todo-project-dialog,
.todo-task-dialog {
  width: 330px;
}

.todo-project-dialog > form,
.todo-project-name-input-container,
.todo-project-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-project-dialog > form {
  gap: 2.5rem;
  width: 260px;
  height: 250px;
  margin: auto;
}

.todo-project-name-input-container {
  & label {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }

  & input {
    padding: var(--todo-project-input-padding);
  }
}

.todo-project-button-container {
  gap: 0.8rem;

  & button {
    padding: var(--todo-project-buttons-padding);
  }
}

.todo-task-dialog > form,
.todo-task-name-input-container,
.todo-task-description-container,
.todo-task-button-container,
.todo-project-task-add-option-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-task-dialog > form {
  gap: 1.6rem;
  width: 260px;
  height: 560px;
  margin: auto;
}

.todo-task-name-input-container,
.todo-task-description-container,
.todo-project-task-add-option-container {
  & label {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
  }

  & input,
  textarea,
  select {
    padding: var(--todo-project-input-padding);
  }
}

.todo-task-date-input {
  padding: var(--todo-project-input-padding);
  width: 100%;
}

.todo-task-priority-button-container {
  display: flex;
  justify-content: space-between;

  div * {
    margin: 0px 0.1rem;
  }

  & label {
    font-size: 1.3rem;
  }
}

.todo-task-button-container {
  gap: 0.5rem;

  & button {
    padding: var(--todo-project-buttons-padding);
  }
}

.todo-projects-list__desktop::-webkit-scrollbar,
.todo-task-list::-webkit-scrollbar {
  display: none;
}

.todo-content {
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100dvh;
}

.todo-projects-container-sidebar {
  display: grid;
  grid-template-rows: repeat(2, min-content) 1fr;
  background-color: skyblue;

  & .todo-task-displayer-options {
    border: 2px solid black;
    border-bottom: none;

    & li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    & p {
      font-size: 1.7rem;
      font-weight: bold;
      cursor: pointer;
    }
  }

  & .todo-projects-header {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem 1rem;
    border: 2px solid black;

    & img {
      margin-left: auto;
      cursor: pointer;
    }
  }

  & .todo-projects-list__desktop {
    overflow-y: auto;
    border: black solid;
    border-width: 0 2px 2px 2px;

    & li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    & p {
      font-size: 1.7rem;
      font-weight: bold;
    }

    & img,
    p {
      cursor: pointer;
    }
  }
}

.current-selected-todo-project {
  background-color: rgb(140, 140, 140, 0.5);
}

.todo-task-container {
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-y: auto;

  & .todo-task-header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr repeat(1, auto) 1fr;
    height: 4rem;
    border: 2px solid darkgreen;

    & h2 {
      grid-column-start: 2;
    }

    & img {
      margin-left: auto;
      margin-right: 5px;
      cursor: pointer;
    }
  }

  & .todo-task-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    justify-items: center;
    overflow-y: auto;
    gap: 1rem;
    padding: 1rem;
    border: darkgreen solid;
    border-width: 0 2px 2px 2px;
  }
}

.todo-task {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid black;
  width: 275px;
  height: 275px;

  & h2,
  p:nth-child(2) {
    text-align: center;
  }

  & p:nth-child(2) {
    width: 28ch;
    word-wrap: break-word;
  }

  & p:nth-child(3) {
    font-weight: bold;
  }

  & p:nth-child(4) {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
  }

  & .todo-task-icons-container {
    display: flex;
    gap: 24px;

    & img {
      cursor: pointer;
    }
  }
}

.task-complete {
  background-color: #747474;

  & *:not(div) {
    text-decoration: line-through;
  }

  & div img#todo-task-complete-icon {
    background-color: green;
    border-radius: 50%;
  }
}

/* TODO Project mobile hamburger menu */

.todo-projects-sidebar-two {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr repeat(1, auto) 1fr;
  height: 4rem;
  padding: 0 1rem;
  background-color: #aaa;

  & h2 {
    font-size: 28px;
    grid-column-start: 2;
  }
}

.ham-menu {
  height: 40px;
  width: 30px;
  margin-left: auto;
  position: relative;
  cursor: pointer;

  & span {
    height: 5px;
    width: 100%;
    background-color: blue;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
  }

  & span:nth-child(1) {
    top: 25%;
  }

  & span:nth-child(3) {
    top: 75%;
  }
}

.ham-menu.active {
  & span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  & span:nth-child(2) {
    opacity: 0;
  }

  & span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

/* Media queries for responsive design */

/* Responsive design for mobile */
@media (max-width: 1023px) {
  .todo-projects-container-sidebar {
    max-height: 75vh;
    width: 100%;
    max-width: 400px;
    position: fixed;
    top: 0;
    right: -450px;
    transition: 0.3s ease;
  }

  .todo-projects-container-sidebar.active {
    right: 0;
  }
}

/* Responsive design for desktop */
@media (min-width: 1024px) {
  .todo-content {
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 1fr;
  }

  .todo-projects-container-sidebar {
    grid-row: 1 / 4;
  }

  .todo-projects-sidebar-two {
    display: none;
  }
}

@media (min-width: 1360px) {
  .todo-content {
    grid-template-columns: 0.3fr 1fr;
  }
}
